footer{
    height: 30vh;
    display: flex;
    padding-top: 20px;
    color: #80818a;
}
.footer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
}
.footer-right{
    flex: 1;
    text-align: right;
    padding-right: 10vh;
    a{
        text-decoration: none;
        cursor: pointer;
    }
}
.footer-nav-links{
    margin: 10px;
    color: #80818a;
}
.footer-webName{
    font-size: 1.3rem;
    margin-bottom: 40px;
}
.fa {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #ebebed;
    color:white;
}
.social{
    padding-top:20px;
}
.designed{
    font-size: 0.8rem;
}