.box{
    background-color: red;
    width: 20vw;
    height: 55vh;
    margin: 20px;
}
.boxPicture{
    height: 45vh;
    background-color: chartreuse;
}
.boxInfo{
    background-color: cornflowerblue;
}