.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: linear-gradient(rgb(216, 216, 216), rgb(197, 197, 197), rgb(117, 117, 117));
}
.web-logo {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    padding-top: 5px;
    padding-left: 10vh;
    font-size: 1.5rem;
    color: white;
}
.no-underline{
    text-decoration: none;
    color: white;
}
.logIn {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 5px;
    text-align: right;
}
.signUp {
    padding: 5px;
    padding-right: 10vh;
}
.active-color{
    background-color: #ff0079;
}

.btn-login {
    background: none;
}