.movie-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding-left: 10vh;
}
.nav-tab {
    margin: 20px 0px 20px 0px;
    font-size: 1.2rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    color: #80818a;
    border-bottom: 2px solid #80818a;
    padding-bottom: 10px;
    text-decoration: none;
}
.nav-tab-search {
    margin: 10px 0px 20px 0px;
    font-size: 1rem;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: center;
    color: #80818a;
    border-bottom: 2px solid #80818a;
}
.fa-search {
    font-size: 1rem;
    padding: 0px;
    color: #80818a;
    background-color: white;
}
.search-input {
    border: 2px solid #80818a;
    padding: 4px;
    border-radius: 4px;
}
.btn-nav {
    background-color: white;
    color: #80818a;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.nav-grid {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    text-align: right;
    padding-right: 10vh;
    border-bottom: 2px solid #80818a;
    margin-bottom: 20px;
}
.active-nav {
    color: #ff0079;
    border-color: #ff0079;
}
.filters{
    text-align: center;
    display: none;
}
.filter-btn{
    border: none;
    background: none;
    border-bottom: 2px solid #80818a;
    outline: none;
    cursor: pointer;
    &:hover{
        border-bottom: 2px solid #ff0079;
        color: #ff0079;
    }
}
.show-filters{display: block;}
@media screen and (max-width: 800px) {
    .movie-nav{
        display: grid;
        padding: 0px;
    }
    .nav-grid{
        display: none;
    }
    .nav-tab-search{
        border: none;
    }
    .search-input{
        width: 70vw;
    }
    .scale{
        width: 20vw;
    }
    .scale-select{
        width: 23vw;
    }
    .scale-sort{
        width: 40vw;
    }
    .mobile-view{
        display: inline-grid;
    }
    .show-filters{
        text-align: -webkit-center;
    }
}