.header {
    position: relative;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    overflow: hidden;
}
.header-image{
    position: absolute;
    height: 140vh;
    width: 100vw;
}
.header-mid {
    padding-left: 10vh;
    position: absolute;
    bottom: 0;
    width: 90vw;
}
.header-bot {
    padding-bottom: 20px;
}
.header-rating{
    background-color: rgb(155, 155, 155);
    float: right;
    margin: 0px 40px 20px 0px;
    padding: 10px;
    border: 1px solid rgb(82, 82, 82);
    display: flex;
    flex-direction: column;
}

.movie-info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.rating-votes{
    font-size: 0.8rem;
    color: rgb(110, 110, 110);
}
.movie-name {
    font-size: 2rem;
}
.movie-actors, .movie-duration {
    padding: 5px 0;
    margin-right: 5px;
}
.btn-wishlist {
    background: none;
}
.btn-info {
    background: none;
    border: 1px solid white;
}
.button-recommended{
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
    cursor: pointer;
    outline: none;
    &:hover{
        background-color: gray;
    }
}
/*NO SEARCH RESULTS*/
.no-results{
    padding-top: 20px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #aaaaaa;
    width: 100vw;
    text-align: center;
}
/*ADDED or DELETED MOVIE INFO*/
.hide{
    animation: cssAnimation 0s ease-in 5s forwards;
    text-align: center;
    background-color: #ebebed;
    color: #ff0079;
    font-size: 1.5rem;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}