.wishlist{
    color: #ff0079;
    text-align: center;
}
.movies-list{
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 60vh;
    background-color: rgb(187, 187, 187);
}
.all-movies-list{
    column-count: 8;
    list-style: none;
}
.movie-link{
    color: #ff0079;
    &:hover{
        color: black;
    }
}