@import 'footer';
@import '_header';
@import '_singleMovie';
@import '_movieBox';
@import '_pagination';
@import '_navigation';
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.noResults{
    padding-top: 20px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #aaaaaa;
    width: 100vw;
    text-align: center;
}
.hide{
    // -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    text-align: center;
    background-color: #ebebed;
    color: #ff0079;
    font-size: 1.5rem;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
    }
.filters{
    text-align: center;
}
.wishlist{
    padding-left: 10vh;
}