.footer {
  height: 30vh;
  display: flex;
  padding-top: 20px;
  color: #80818a;
}

.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10vh;
}

.footer-webName {
  font-size: 1.3rem;
  margin-bottom: 40px;
}

.footer-right {
  flex: 1;
  text-align: right;
  padding-right: 10vh;
}

.footer-nav-links {
  margin: 10px;
  color: #80818a;
  text-decoration: none;
  cursor: pointer;
}

/*SOCIAL NETWORKS LINKS*/

.social {
  padding-top: 20px;
}

.fa-social {
  padding: 5px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #ebebed;
  color: white;
}

.fa-social:hover {
  color: #ff0079;
}

@media screen and (max-width: 800px) {
  .footer {
    display: block;
    text-align: center;
  }

  .footer-right {
    font-size: 0.8rem;
    padding-right: 0px;
    text-align: center;
  }

  .footer-left {
    padding-left: 0px;
  }
}

.header-top {
  display: flex;
  background-image: linear-gradient(#d8d8d8, #c5c5c5, #757575);
  position: absolute;
  width: 100vw;
  top: 0px;
}

.web-logo {
  flex: 4;
  padding-top: 5px;
  padding-left: 10vh;
  font-size: 1.5rem;
  color: white;
  z-index: 1;
}

.no-underline {
  text-decoration: none;
  color: white;
}

.logIn {
  flex: 2;
  padding: 5px;
  text-align: right;
  z-index: 1;
}

.signUp {
  padding: 5px;
  padding-right: 10vh;
  z-index: 1;
}

.active-color {
  background-color: #ff0079;
}

.btn-login {
  background: none;
}

@media screen and (max-width: 800px) {
  .web-logo {
    padding: 10px;
    font-size: 1rem;
  }

  .signUp {
    padding-right: 5px;
  }
}

.header {
  position: relative;
  height: 70vh;
  color: white;
}

.header-image {
  position: absolute;
  height: 70vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-mid {
  padding-left: 10vh;
  position: absolute;
  bottom: 0;
  width: 90vw;
}

.header-bot {
  padding-bottom: 20px;
}

.header-rating {
  background-color: #9b9b9b;
  float: right;
  margin: 0px 40px 20px 0px;
  padding: 10px;
  border: 1px solid #525252;
  display: flex;
  flex-direction: column;
}

.movie-info {
  display: inline-flex;
}

@media screen and (max-width: 800px) {
  .movie-info {
    display: block;
  }
}

.rating-votes {
  font-size: 0.8rem;
  color: #6e6e6e;
}

.movie-name {
  font-size: 2rem;
}

.movie-actors,
.movie-duration {
  padding: 5px 0;
  margin-right: 5px;
}

.btn-wishlist {
  background: none;
}

.btn-info {
  background: none;
  border: 1px solid white;
}

.button-recommended {
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: white;
  cursor: pointer;
  outline: none;
}

.button-recommended:hover {
  background-color: gray;
}

/*NO SEARCH RESULTS*/

.no-results {
  padding-top: 20px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #aaaaaa;
  width: 100vw;
  text-align: center;
}

/*ADDED or DELETED MOVIE INFO*/

.hide {
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
          animation: cssAnimation 0s ease-in 5s forwards;
  text-align: center;
  background-color: #ebebed;
  color: #ff0079;
  font-size: 1.5rem;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.pink {
  color: #ff0079;
}

@media screen and (max-width: 800px) {
  .header-bot {
    display: inline-flex;
    padding-bottom: 0px;
  }

  .header-mid {
    padding-left: 5vw;
  }

  .btn-info {
    background-color: white;
  }
}

/*SINGLE MOVIE PAGE*/

.single-movie {
  height: 60vh;
  background-color: lightgrey;
  display: flex;
  margin-top: 30px;
  padding-top: 40px;
}

.single-box {
  box-shadow: none;
  background-color: black;
  margin-left: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-info {
  height: 50vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline-flex;
}

.inline-single {
  display: inline-flex;
}

.single-btn {
  background-color: lightgrey;
  border: none;
  padding-bottom: 0px;
  margin: 4px;
  color: #ff0079;
  outline: 0;
  cursor: pointer;
  font-size: 1.6rem;
}

.trash {
  color: #ff0079;
  margin-right: 10px;
  background-color: white;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.box-rating-single {
  padding: 5px;
  color: #ff0079;
  border: 1px solid #ff0079;
  border-radius: 2px;
}

/* TRAILER */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 800px) {
  .modal {
    position: relative;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 640px;
  height: 480px;
}

@media screen and (max-width: 800px) {
  .modal-content {
    width: 100vw;
    height: 100vh;
  }
}

.trailer {
  background-color: black;
  width: 640px;
  height: 480px;
}

@media screen and (max-width: 800px) {
  .trailer {
    width: 100vw;
    height: 100vh;
  }
}

/*CLOSE BUTTON*/

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
  z-index: 1;
  background-color: black;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*ACTORS AND ROLES*/

.commas::after {
  content: ",";
}

.commas:last-child:after {
  content: ".";
}

/*END ACTORS AND ROLES*/

.font-new {
  font-family: TiemposTextWeb-Regular, Georgia, serif;
}

.help {
  cursor: help;
}

.comments {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
}

.form-control {
  width: 40vw;
  max-width: 550px;
  resize: none;
  border: 3px solid lightgray;
  border-radius: 4px;
}

.list-unstyled {
  list-style: none;
  padding-right: 40px;
}

.mr-3 {
  display: none;
}

.media-body {
  background-color: lightgray;
}

.btn-primary {
  background-color: #ff0079;
  color: #ff0079;
  outline: 0;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: white;
  cursor: pointer;
  outline: none;
}

.btn-primary:hover {
  background-color: gray;
}

.text-muted {
  display: none;
}

@media screen and (max-width: 800px) {
  .single-movie {
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
  }

  .single-info {
    height: auto;
    display: block;
  }

  .inline-single {
    display: block;
  }

  iframe {
    width: 100vw;
    height: 100vh;
  }
}

.all-movies {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #f8f8f8;
  padding-bottom: 50px;
}

.box {
  width: 20vw;
  margin: 20px;
  box-shadow: 5px 5px 10px 5px #ff0079;
}

.box-picture {
  height: 45vh;
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-info {
  background-color: white;
  padding: 10px;
  display: flex;
}

.box-name {
  flex: 6;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
}

.actors {
  font-size: 0.6rem;
}

.box-rating {
  padding: 5px;
  color: #ff0079;
  border: 1px solid #ff0079;
  border-radius: 2px;
  max-width: 20px;
  max-height: 20px;
}

.wishlist-box-btn {
  margin-right: 5px;
  padding-top: 0px;
  font-size: 1rem;
  background: white;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 800px) {
  .wishlist-box-btn {
    margin-right: 25px;
    font-size: 1.5rem;
  }
}

.wishlist-delete {
  content: "/&#xf014";
}

@media screen and (max-width: 800px) {
  .all-movies {
    display: block;
  }

  .box-info {
    width: 80vw;
  }

  .box-picture {
    width: 90vw;
    padding: 10px 0px;
  }

  .box {
    width: 90vw;
  }
}

.pagination {
  margin-top: 20px;
  list-style: none;
  display: inline-flex;
  margin: 0 auto;
}

.center {
  margin-top: 30px;
  text-align: center;
}

.page-item {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

.page-link {
  text-decoration: none;
  padding: 8px;
}

.page-item:hover {
  background-color: #ff0079;
}

.active {
  background-color: #ff0079;
}

@media screen and (max-width: 800px) {
  li.page-item {
    display: none;
    padding: 0px;
  }

  .page-item:first-child,
  .page-item:nth-child(3),
  .page-item:nth-last-child(3),
  .page-item:last-child,
  .page-item.active,
  .page-item.disabled {
    display: block;
  }
}

.movie-nav {
  display: flex;
  margin-top: 20px;
  padding-left: 10vh;
}

.nav-tab {
  margin: 20px 0px 20px 0px;
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
  color: #80818a;
  border-bottom: 2px solid #80818a;
  padding-bottom: 10px;
  text-decoration: none;
}

.nav-tab-search {
  margin: 10px 0px 20px 0px;
  font-size: 1rem;
  text-align: center;
  color: #80818a;
  border-bottom: 2px solid #80818a;
}

.fa-search {
  font-size: 1rem;
  padding: 0px;
  color: #80818a;
  background-color: white;
}

.search-input {
  border: 2px solid #80818a;
  padding: 4px;
  border-radius: 4px;
}

.btn-nav {
  background-color: white;
  color: #80818a;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.nav-grid {
  flex: 4;
  text-align: right;
  padding-right: 10vh;
  border-bottom: 2px solid #80818a;
  margin-bottom: 20px;
}

.active-nav {
  color: #ff0079;
  border-color: #ff0079;
}

.filters {
  text-align: center;
  display: none;
}

.filter-btn {
  border: none;
  background: none;
  border-bottom: 2px solid #80818a;
  outline: none;
  cursor: pointer;
}

.filter-btn:hover {
  border-bottom: 2px solid #ff0079;
  color: #ff0079;
}

.search-type {
  border-bottom: 2px solid #80818a;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  outline: none;
}

.select-dropdown {
  border: 2px solid #80818a;
  border-radius: 4px;
  outline: none;
}

.show-filters {
  display: block;
}

@media screen and (max-width: 800px) {
  .movie-nav {
    display: grid;
    padding: 0px;
  }

  .nav-grid {
    display: none;
  }

  .nav-tab-search {
    border: none;
  }

  .search-input {
    width: 70vw;
  }

  .scale {
    width: 20vw;
  }

  .scale-select {
    width: 23vw;
  }

  .scale-sort {
    width: 40vw;
  }

  .mobile-view {
    display: inline-grid;
  }

  .show-filters {
    text-align: -webkit-center;
  }
}

.wishlist {
  color: #ff0079;
  text-align: center;
  padding-top: 5vh;
}

.movies-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: 60vh;
  background-color: #bbbbbb;
}

.all-movies-list {
  -moz-column-count: 8;
       column-count: 8;
  list-style: none;
}

@media screen and (max-width: 800px) {
  .all-movies-list {
    -moz-column-count: 1;
         column-count: 1;
  }
}

.movie-link {
  color: #ff0079;
}

.movie-link:hover {
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

