.footer {
  height: 30vh;
  display: flex;
  padding-top: 20px;
  color: #80818a;
}

.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10vh;
}

.footer-webName {
  font-size: 1.3rem;
  margin-bottom: 40px;
}

.footer-right {
  flex: 1;
  text-align: right;
  padding-right: 10vh;
}

.footer-nav-links {
  margin: 10px;
  color: #80818a;
  text-decoration: none;
  cursor: pointer;
}

/*SOCIAL NETWORKS LINKS*/

.social {
  padding-top: 20px;
}

.fa-social {
  padding: 5px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #ebebed;
  color: white;
}

.fa-social:hover {
  color: #ff0079;
}

.header {
  position: relative;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.header-top {
  display: flex;
  background-image: linear-gradient(#d8d8d8, #c5c5c5, #757575);
}

.header-mid {
  padding-left: 10vh;
  position: absolute;
  bottom: 0;
  width: 90vw;
}

.header-bot {
  padding-bottom: 20px;
}

.header-bot > button {
  margin-right: 5px;
}

.header-rating {
  background-color: #9b9b9b;
  float: right;
  margin: 0px 40px 20px 0px;
  padding: 10px;
  border: 1px solid #525252;
  display: flex;
  flex-direction: column;
}

.rating-votes {
  font-size: 0.8rem;
  color: #6e6e6e;
}

.web-logo {
  flex: 4;
  padding-top: 5px;
  padding-left: 10vh;
  font-size: 1.5rem;
  color: white;
}

.noUnderline {
  text-decoration: none;
  color: white;
}

.logIn {
  flex: 2;
  padding: 5px;
  text-align: right;
}

.signUp {
  padding: 5px;
  padding-right: 10vh;
}

.header {
  text-align: left;
}

.movieName {
  font-size: 2rem;
}

.movieGenre,
.movieDuration {
  padding: 5px 0;
  margin-right: 5px;
}

.movie-info {
  display: inline-flex;
}

.active-color {
  background-color: #ff0079;
}

button {
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.btn-wishlist {
  background: none;
}

.btn-info {
  background: none;
  border: 1px solid white;
}

.btn-login {
  background: none;
}

/*SINGLE MOVIE PAGE*/

.single-movie {
  height: 60vh;
  background-color: lightgrey;
  display: flex;
  margin-top: 30px;
  padding-top: 40px;
}

.single-box {
  box-shadow: none;
  background-color: black;
  margin-left: 40px;
}

.single-info {
  height: 50vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.test {
  display: inline-flex;
}

.single-btn {
  background-color: lightgrey;
  border: none;
  padding-bottom: 0px;
  margin: 4px;
  color: #ff0079;
  outline: 0;
}

.trash {
  color: #ff0079;
  margin-right: 10px;
  background-color: white;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* MODAL TRAILER */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 640px;
  height: 480px;
}

.trailer {
  background-color: black;
  width: 640px;
  height: 480px;
}

/*CLOSE BUTTON*/

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
  z-index: 1;
  background-color: black;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*ACTORS AND ROLES*/

.commas::after {
  content: ",";
}

.commas:last-child:after {
  content: ".";
}

/*END ACTORS AND ROLES*/

.fontNew {
  font-family: TiemposTextWeb-Regular, Georgia, serif;
}

.help {
  cursor: help;
}

.allMovies {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #f8f8f8;
  padding-bottom: 50px;
}

.box {
  width: 20vw;
  margin: 20px;
  box-shadow: 1px 1px 10px 10px #ebebed;
}

.boxPicture {
  height: 45vh;
  width: 20vw;
}

.boxInfo {
  background-color: white;
  padding: 10px;
  display: flex;
}

.box-name {
  flex: 6;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
}

.actors {
  font-size: 0.6rem;
}

.box-rating {
  padding: 5px;
  color: #ff0079;
  border: 1px solid #ff0079;
  border-radius: 2px;
  text-align: center;
}

.wishlist-box-btn {
  margin-right: 5px;
  padding-top: 0px;
  font-size: 1rem;
  background: white;
  border: none;
}

.font-big {
  font-size: 1.6rem;
}

.wishlist-delete {
  content: "/&#xf014";
}

/*PAGE NUMBERS*/

.pagination {
  margin-top: 20px;
  list-style: none;
  display: inline-flex;
  margin: 0 auto;
}

.center {
  margin-top: 30px;
  text-align: center;
}

.page-item {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

.page-link {
  text-decoration: none;
  padding: 8px;
}

.page-item:hover {
  background-color: #ff0079;
}

.active {
  background-color: #ff0079;
}

/*END PAGE NUMBERS*/

.movieNav {
  display: flex;
  margin-top: 20px;
  padding-left: 10vh;
}

.nav-tab {
  margin: 20px 0px 20px 0px;
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
  color: #80818a;
  border-bottom: 2px solid #80818a;
  padding-bottom: 10px;
  text-decoration: none;
}

.nav-tab-search {
  margin: 10px 0px 20px 0px;
  font-size: 1rem;
  flex: 2;
  text-align: center;
  color: #80818a;
  border-bottom: 2px solid #80818a;
}

.nav-tab-search .fa-search {
  font-size: 1rem;
  padding: 0px;
  color: #80818a;
  background-color: white;
}

.search-input {
  border: 2px solid #80818a;
  padding: 4px;
  border-radius: 4px;
}

.btn-nav {
  background-color: white;
  color: #80818a;
  font-size: 1.2rem;
  text-align: right;
}

.nav-grid {
  flex: 4;
  text-align: right;
  padding-right: 10vh;
  border-bottom: 2px solid #80818a;
  margin-bottom: 20px;
}

.active-nav {
  color: #ff0079;
  border-color: #ff0079;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.noResults {
  padding-top: 20px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #aaaaaa;
  width: 100vw;
  text-align: center;
}

.hide {
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
          animation: cssAnimation 0s ease-in 5s forwards;
  text-align: center;
  background-color: #ebebed;
  color: #ff0079;
  font-size: 1.5rem;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.filters {
  text-align: center;
}

.wishlist {
  padding-left: 10vh;
}

